.idea/
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
doc/_build
build
dist/
**/.#*
**/.ipynb_checkpoints
**/__pycache__
**/.mypy_cache/
.vscode/
build/
doc/_build
dist/
**/.#*
**/.ipynb_checkpoints/
**/.virtual_documents/
